body {


    background: url(ok.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navbar {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 50px;
    padding-left: 15px;


}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

}





a {
    color: black;
    font-weight: bold;
    ;
}



p {
    font-style: italic;
    width: 550px;
    font-size: larger;


}




h3 {


    font-size: 30px;

}



h2 {
    font-size: 50px;

}




button {
    background-color: skyblue;
    font-size: larger;
    font-style: oblique;
    opacity: 50%;
}

footer {
    background-color: whitesmokesss;

}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin-top: 70%;
    background-color: lightblue
}

.socialicons {
    display: flex;
    justify-content: center;



}

.socialicons a {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;

}

.footernav a {

    margin: 20px;
    font-size: medium;


}



.footerBottom {
    background-color: black;

}

i {
    color: white;
}