body {

    background-image: ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}





.navbar {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 50px;
    padding-left: 15px;
    background-color: bisque;


}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

h1 {
    text-align: center;
    margin-top: 10%;
}





a {
    color: black;
    font-weight: bold;
    ;
}

td {
    padding: 0px;

    width: auto;
    font-size: 28px;

}


h2 {
    font-style: italic;
}


footer {
    background-color: whitesmokesss;

}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin-top: 70%;
    background-color: gray;

}

.socialicons {
    display: flex;
    justify-content: center;


}

.socialicons a {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;

}

.footernav a {

    margin: 20px;
    font-size: medium;


}



.footerBottom {
    background-color: black;

}

i {
    color: white;
}