body {
    background: url(background.jp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.navbar {
    position: absolute;
    background-color: blanchedalmond;


}

.container {

    width: 20%;

    margin: 10px 10px;

}

.carousel {

    border: 2px solid #ccc;

    height: 400px;


}

.slider {

    height: 100%;

    display: flex;

    width: 400%;

    border: 1px solid red;
}

.slider section {
    flex-basis: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}



.controls.arrow {

    position: absolute;

    top: 50%;

}


.arrow.left {

    left: 10px;
}

.arrow.right {
    right: 10px;
}

a {
    color: black;
    font-weight: bold;
    font-style: italic;


}

p {
    font-size: 28px;
    margin-top: 10%;
    color: aqua;


    margin-left: 10%;

}













footer {
    background-color: whitesmokesss;

}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
    margin-top: 70%;
    background-color: gray;

}

.socialicons {
    display: flex;
    justify-content: center;



}

.socialicons a {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;

}

.footernav a {

    margin: 20px;
    font-size: medium;


}



.footerBottom {
    background-color: black;

}

i {
    color: white;
}